<html>

<body>
	<br>
	<h1>
		Marian Hannah Jane M. Baldemora
	</h1>
	<hr style="width:50%;height:5px;border-width:0;color:#F9BF8B;background-color:#f6ead4" />
	<h3>
		20 years old
		| Lumban, Laguna
	</h3>

	<hr style="width:50%;height:5px;border-width:0;color:#F9BF8B;background-color:#f6ead4" />
	<br>
	<p>
		I'am Marian Hannah Jane M. Baldemora, simply call me Marian for short. All
		I want is to reach my dreams in life, to help my family and give
		back what they deserve to have. I'm not gifted with talents, but I can
		play intsrument like guitar, ukulele and piano and also I can draw. I
		discover my skills on drawing when I was in middle school and my
		inspiration to sees os that a bunch of perople also known as a volleyball
		team in ateneo that I watched in television and when the time comes all I
		knew is that my skills in drawing was improve a lot.
	</p>

	<p>
		I'm a kind of person that laugh and talkative one but sometimes I just
		want to be alon and daydream about something else. I played volleyball
		because my sister told me so and I was like I don't like it but eventually
		when the time comes I realized that it's fun to be a part of a volleyball
		team and to play in court and to have some new friends.
	</p>

	<p>
		Were eight members in the family. We are like a storm that when we
		combined together. :D My family is my strength and also my weaknesses.
		When we bond I'm happiest person in the world. We laugh, cried and fight
		together but in the end of the day we love and care for each other. That
		is my family with a strong relationship that I can rely on..
	</p>

	<p>
		In my daily lives I have routines that I won't get tired of doing it and
		that is to pray and talk to God everyday. It gives me strength, hope,
		love, and faith. I had so many difficulties inlife but with God and my
		family I can conquer and move forward in those obstacle in life. Yes, that
		is me Marian :D
	</p>
</body>

</html>